.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
    border-radius: 8px;
  }
  
  .modalDialog {
    width: 100%;
    max-width: 550px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
    border-radius: 4px;
  }
  
  .modalFooter {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    justify-content: flex-end;
  }
  .modalHeader {
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .modalInput{
    height: 80px;
    width: calc(100% - 30px);
    margin: 10px;
    border: 1px solid #dbdbdb;
    font-size: large;
    border-radius: 2px;
  }

  .modalClose {
    cursor: pointer;
    margin: 12px;
    font-size: 30px;
  }
  .modalBody {
    overflow: auto;
  }
  .modalButton {
    margin: 8px;
    font-size: 15px;
    padding: 6px;
    min-width: 80px;
   }
  
  .modalTitle {
    margin: 12px;
  }
  
